<%= form_for(@checkin, multipart: true, remote: true) do |f| %>
  <% if @checkin.errors.any? %>
    <div style="color:red" id="error_explanation">
      <p>Your check-in didn't save:</p>
      <% @checkin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><br>
      <% end %>
      
    </div>
  <% end %>

  <%= f.hidden_field :location_id, value: @location.id %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "What do they call you?" %>
  </div>
  <div class="field">           
    <%= f.label :comment %>&nbsp;<a style="color:red" class="about_modal" data-toggle="modal" data-target="#commentModal">(?)</a>

    <%= f.text_area :comment, cols: 40, rows: 2, placeholder: "What do you think? - Click the ? for a tip" %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div id="submit_button" class="actions">
    <%= f.submit 'Check in!' %>
    <p style="color:pink;font-size:15px;margin-top:6px">*Photo uploads take 5-30 seconds. Please be patient.</p>
  </div>
  <!-- for scroll space after form only if no checkins -->
  <% if @checkin.nil? %>
    <br><br><br>
  <% end %>  
<% end %>


