<!DOCTYPE html>
<html>
<head>
  <title>On Camera: The Watchmen</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset='utf-8' />
  <link href='http://fonts.googleapis.com/css?family=Special+Elite|Unica+One|Numans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/cctv.ico" type="image/x-icon">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
 	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="nav_bird" src="assets/cctv_camera1.png"></a> 
      <a class="navbar-brand nav_title" href="/">On Camera: <span class="subtitle">The Watchmen</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="howitworks_modal" data-toggle="modal" data-target="#howItWorksModal">How To Use This Site</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li id="closeIt" class="dropdown">
        <% if !@all_checkins %> <!-- to hide the nav dropdown in all_checkins view -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Cameras<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="drop1" href="#">Camera #1</a></li>
            <li><a class="drop2" href="#">Camera #2</a></li>
            <li><a class="drop3" href="#">Camera #3</a></li>
            <li><a class="drop4" href="#">Camera #4</a></li>
          </ul>
          <%end%>
      <li><%= link_to "All the checkins", "/all_checkins" %></li>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a class="about_modal" data-toggle="modal" data-target="#aboutModal">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<!-- Modal 1 - How It Works -->
<div class="modal fade" id="howItWorksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How to Use This Site</h4>
      </div>
      <div class="modal-body">
        <p>There are 2 ways to navigate this site when checking in:</p>
        <ol>
          <li>Click/tap a marker on the map that corresponds to your current location.</li>
          <li>Select your current Camera from <em>The Cameras</em> dropdown in the top nav bar.</li>
        </ol>
        <p>Enter your name and comment in the form and hit submit. (Need some comment inspiration? Hit the <span style="color:red">(?)</span> .) Your check-in will be saved.</p>
        <p>Upload a photo from your phone or tablet by clicking the 'Choose photo' button, browse to the correct folder and click upload, or take a photo with your camera and click upload.</p>
        <p style="color:#c0392b"><b>If you're submitting a photo, ONLY TAP THE SUBMIT BUTTON ONCE. And be patient. Our uploader can take some time, especially if the photo's large.</b></p> 
        <br>
        <h3>Visiting after the hike is over?</h3>
        <p>There are 3 ways to navigate the comments on the site:</p>
        <ol>
          <li>Via the markers on the map.</li>
          <li>Via The Camera's dropdown in the top nav.</li>
          <li>Via "All the checkins" link just next to it. Filter your results by station!</li>
        </ol>
        <p>Thanks for visiting and/or participating in <em>On Camera: The Watchmen</em></p>
        <p>~ Peter and Chris</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 - About -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">On Camera: The Watchmen</h4>
      </div>
      <div class="modal-body">

        <p>For <em>The Watchmen</em> show at Torrance Art Museum, the <a href="http://mobileartsplatform.wordpress.com/">Mobile Arts Platform</a> (MAP) will utilize their mobile printmaking backpack to hike a route through the city of LA and set up printmaking stations at locations that are in obvious view of surveillance cameras.</p> 

        <p>The project will be an attempt to start a dialogue with community residents and the surveillance cameras that reside in these neighborhoods. MAP will engage the public in front of these cameras, challenging participants to consider and respond to the camera's gaze in their community. 

        <p>What message or messages would you convey to surveillance cameras in your neighborhood?</p> 

        <p>The project is an intervention of fair exchange in which the public gets a free interactive screenprint relevant to their community in exchange for their opinions about their neighborhoods and the outside third eye. In this one-sided dialogue, participants fill in their response and hold it up to the camera.</p>

        <p>This project strives to provide a platform to consider community relationships to CCTV cameras while considering the concepts of audience and observer in our lives.</p> 

        <p>In collaboration with web designers <a href="http://www.nicocrisafulli.com">Nico Crisafulli</a> and <a href="http://bkahler.github.io/">Bryan Kahler</a>, MAP has created this interactive online map to provide a dialog space where the public can write in their thoughts using their smart phone or tablet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- comment modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content commentModal">
      <div class="modal-body">
          <p style="font-size:20px"><b>Eyes are watching you, 24/7.</b>
          <p style="font-size:18px"><li><em>What would you say to them?</em></li>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
      
  </div>
</div>

  <script>
   
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48329636-6', 'oncamera.herokuapp.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
